@import "@plane/tailwind-config/index.css";
@import "@plane/editor/styles";
@import "@plane/propel/styles/react-day-picker.css";
@plugin "@tailwindcss/typography";

/* stickies and editor colors */
:root {
  /* text colors */
  --editor-colors-gray-text: #34322e;
  --editor-colors-brown-text: #51301d;
  --editor-colors-orange-text: #90360d;
  --editor-colors-yellow-text: #8b4e10;
  --editor-colors-green-text: #1f492a;
  --editor-colors-blue-text: #12328b;
  --editor-colors-purple-text: #4a276f;
  --editor-colors-pink-text: #73173f;
  --editor-colors-red-text: #861a13;
  /* end text colors */

  /* background colors */
  --editor-colors-gray-background: #f2efed;
  --editor-colors-brown-background: #e7d8d0;
  --editor-colors-orange-background: #efd6bc;
  --editor-colors-yellow-background: #efe5ba;
  --editor-colors-green-background: #d2e0d6;
  --editor-colors-blue-background: #cce2f6;
  --editor-colors-purple-background: #e2d4ef;
  --editor-colors-pink-background: #edd2e0;
  --editor-colors-red-background: #f2d2cc;
  /* end background colors */
}
/* background colors */
[data-theme*="light"] {
  --editor-colors-gray-background: #f2efed;
  --editor-colors-brown-background: #e7d8d0;
  --editor-colors-orange-background: #efd6bc;
  --editor-colors-yellow-background: #efe5ba;
  --editor-colors-green-background: #d2e0d6;
  --editor-colors-blue-background: #cce2f6;
  --editor-colors-purple-background: #e2d4ef;
  --editor-colors-pink-background: #edd2e0;
  --editor-colors-red-background: #f2d2cc;
}
[data-theme*="dark"] {
  --editor-colors-gray-background: #3d3b39;
  --editor-colors-brown-background: #4a3d36;
  --editor-colors-orange-background: #4d3f2f;
  --editor-colors-yellow-background: #4d4729;
  --editor-colors-green-background: #2d3d33;
  --editor-colors-blue-background: #2d3d4d;
  --editor-colors-purple-background: #3d3549;
  --editor-colors-pink-background: #4d3540;
  --editor-colors-red-background: #4d3633;
}
/* end background colors */

/* Progress Bar Styles */
:root {
  --bprogress-color: var(--background-color-accent-primary);
  --bprogress-height: 2.5px !important;
}

.bprogress {
  pointer-events: none;
}

.bprogress .bar {
  background: linear-gradient(
    90deg,
    --alpha(var(--background-color-accent-primary) / 80%) 0%,
    --alpha(var(--background-color-accent-primary) / 100%) 100%
  ) !important;
  will-change: width, opacity;
}

.bprogress .peg {
  display: block;
  box-shadow:
    0 0 8px --alpha(var(--background-color-accent-primary) / 60%),
    0 0 4px --alpha(var(--background-color-accent-primary) / 40%) !important;
  will-change: transform, opacity;
}
